/*
    Author: Jan Kevin Munar
    ID: 300702645
    Date: 10/5/2016
    
    Version History:
    10/5/2016: Initial File creation and first functions implementation.
*/

/*Navbar centering tweaks*/
.navbar-nav{
    display:inline-block;
    float:none;
}

.navbar-center{
    text-align: center !important;
}

.navbar-brand{
    text-align: center !important;
    padding-bottom: 5px;
    padding-top: 10px;
    float: none;
    font-size: 20px;
    bottom: 90px !important;
}
h2, h5{
    color:white !important;
}
/*Logo location tweaks*/
.logopic{
    vertical-align: top !important;
    margin-top: -50px;
}

#games{
    text-align: center !important;
}

#gamesdata{
    float:left !important;
    display:none !important;
}

#registerpanel{
    margin-bottom: 150px !important;
}


.panel{
    background-color: rgba(0,0,0,0) !important;
}

.panel-body{
    color:black !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
}


img{
    max-width:100%;
    max-height:100%;
}

/* custom css goes here by Bhavin */
body {
    background-image: url('../Assets/images/LeagueBackground.jpg') !important;
    background-attachment: fixed !important;
    background-size:cover !important;
    background-repeat:no-repeat !important;
    position:relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 50px !important; 
}

@media (max-width: 767px) {
  .container-fluid, .row {
    padding:0px !important;
  }
  .navbar-header {
    margin:0px !important;
  }
}

